[buildout]
parts =
	python
	sphinx
#	omelette
	
develop =
	.


extensions = mr.developer
auto-checkout =

[sources]

[python]
recipe = z3c.recipe.scripts
eggs =
    pycounters

[omelette]
recipe = collective.recipe.omelette
eggs = ${python:eggs}

[sphinx]
recipe = collective.recipe.sphinxbuilder
